body {
  margin: 0 auto !important;
}

button.with-loading {
  position: relative;
}

button.with-loading > div:nth-child(1) {
  position: absolute;
  width: calc(100% - 2rem);
}

button.with-loading > div:nth-child(1) > .spinner-border {
  vertical-align: middle;
}
